.page-body {
    background: url("./image/background.jpg") no-repeat fixed center;
    background-size: cover;
    font-family: sans-serif;
}
.container {
    width: 1030px;
    margin: 0 auto;
}
.contacts {
    padding-top: 46px;
    padding-bottom: 17px;
    display: grid;
    grid-template-columns: 201px 219px;
    justify-content: space-between;
}
.logo-link {
    display: grid;
    grid-template-columns: 53px 1fr;
    grid-column-gap: 8px;
    grid-template-areas:
    "logo text1"
    "logo text2";
}
.logo-picture {
    grid-area: logo;
    position: relative;
}
.logo-header {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    grid-area: text1;
}
.logo-subheader {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    grid-area: text2;
}
.contact-information {
    display: grid;
    grid-template-rows: repeat(2,max-content);
    grid-row-gap: 19px;
}
.mail {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    justify-self: end;
}
.phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    justify-self: end;
}
.tours-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-column-gap: 61px;
    padding-left: 0;
    grid-row-gap: 37px;
}
.tour-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 0;
}
.copyright {
    margin-top: 49px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.logo-link:hover .logo-header  {
    color: #F26522;
}
.logo-link:hover .logo-subheader  {
    color: #F26522;
}
.logo-picture-hover {
   position: absolute;
    z-index: -1;
}
.logo-link:hover .logo-picture-hover {
    z-index: 1;
}
.mail:hover {
    color: #F26522;
}
.phone:hover {
    color:#F26522;
}
.tour-details {
    background-color: #F26522;
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    height: 0;
    transition: 1s ease;
    overflow: hidden;
}
.price-start {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 7px;
    padding-left: 16px;
}
.description {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 32px;
}
.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}
.details {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
    position: relative;
}
.details::after {
    content: url("../image/vector.png");
    background-size: 5px 10px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: calc(100% + 16px);
}
.tours-item {
    position: relative;
}
.tours-item:hover .tour-details {
    height: 55px;
    display: block;
}
.tours-item:hover .tour-title {
    color: #F26522;
}

.tour-image {
    border: 1px solid;
    border-image: linear-gradient(to bottom, #fff 100%, #eee 0%);
}
